
/* body */
body {
    background-color: #ffffff;
    color: #000000;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}



/* header Container 1 */
.container1 {
    background-color:#ffffff;
    display: flex;
    flex-flow: row;
    flex-basis: content;

}

.logo {
    object-position: left;
    
}

